body {
  font-family: 'Manrope', sans-serif;
  background-color: black;
}
[class*='__body'] {
  max-width: 1230px;
  margin: 0 auto;
}
.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
}

.section {
}
.section__body {
  width: 300px;
  height: 300px;
  background-color: white;
  margin-top: 100px;
  /* perspective: rotate(0deg); перспектива за даётся родителю */
  /* perspective-origin: 0 0; задаёт точку перспективы по умолчнию center даётся родителю */
}

.section__item {
  width: 300px;
  height: 300px;
  background-color: tomato;
  transition: all 0.7s ease 0s;
}

/* .section__item {
   transform: translate(100px, 120px); Берёт отступ от самого себя   
  position: relative; берёт отсутп от родителя 
  top: 100%;
  left: 100%; 
   transform: translate(100%, 0); 
}

.section__body:hover .section__item {
  transform: translate(0, 0);
}  */

/* .section__item {
  transform: scale(1); 1=100% масштабирование  
} */

/* .section__item {
  transform: rotate(0deg);  Поворот елемента deg=градусы
  transformX: rotate(0deg); Повотор елемента по оси X
  transformY: rotate(0deg); Повотор елемента по оси Y
}

.section__item:hover {
  transform: rotate(180deg);
} */

/* .section__item {
  transform: skew(0deg); деформация элемента
             skywX(0deg); деформация элемента по оси X
             skywY(0deg); деформация элемента по оси Y
  } */

/* .section__item {
  transform-origin: 0 0; изменение точки вращения по умолчанию center
} */

/* .section__body {

} */
