@import url('reset.css');
@import url('components.css');
@import url('header.css');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background-color: #0f172a;
  color: #fff;
}

.wrapper {
  min-block-size: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}

.wrapper > main {
  flex-grow: 1;
}

[class*='container'] {
  max-width: 1310px;
  margin-inline: auto;
  padding-inline: 15px;
}

/* =================header================ */
.header {
  padding-block: 24px;
}
.header__body {
  padding: 24px;
  column-gap: 46px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25),
    0px 0px 15px 0px rgba(0, 0, 0, 0.07);

  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  column-gap: 38px;
  row-gap: 5px;
}
.header__container {
}
.headr__link-logo {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.1;
  transition: all 0.3s ease 0s;
}
.headr__link-logo:hover {
  color: #a04eec;
}

.header__menu {
}
.menu {
}

.menu__list {
  display: flex;
  column-gap: 32px;
  row-gap: 5px;
  flex-wrap: wrap;
}

.menu__item {
}
.menu__link {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.5px;
  transition: all 0.3s ease 0s;
}

.menu__link:hover {
  color: #a04eec;
}

.header__actions {
  display: flex;
  gap: 16px;
  align-items: center;
  flex-wrap: wrap;
}
.actions-header {
}
.actions--header__button {
}

/* @media (max-width: 991.98px) {
  .header {
    padding-block: 15px;
  }
  .header__body {
    padding: 15px;
    column-gap: 25px;
  }
  .menu__list {
    column-gap: 20px;
  }
  .actions-header {
    column-gap: 10px;
  }
  .actions--header__button.button--mini {
    padding-inline: 15px;
  }
}

@media (max-width: 767.98px) {
  .menu {
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 0;
    block-size: 100%;
    inline-size: 100%;
  }
  .header__body {
    padding-block: 8px;
    padding-inline: 24px;
    grid-template-columns: auto auto;
    justify-content: space-between;
  }
} */
